
# Ignorar los archivos compilados de Python
pyc

# Ignorar los archivos package-lock.json y los package.json
package.json
package-lock.json

#ignorar the node_modules
node_modules/

#ignorar los archivos txt
*.txt
